.body, .heading, .centerSpace, .centerContent, .header, .headerNav, .main, .footer, .headerImage {
    display: flex;
}

.body, .centerContent, .header, .main, .footer {
    flex-direction: column;
}

.heading, .headerNav {
    flex-direction: row;
}


.heading {
    background-color: #553019 ;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

.headingNav {
    padding-left: 10%;
}

.headingNav a {
    color: #ffffff;
}

.header {
    width: 100%;
    align-items: center;
}

.headerImage {
    /* height: 80%; */
    /* width: 40%; */
    height: 12em;
    width: 20em;
}

.headerNav {
    background-color: #b57a46 ;
    width: 100%;
    padding: 0;
}

.nav-item.-hidden {
    display: none;
}


.nav-item.nav-link.active.-headerNavItem {
    color: #ffffff;
    padding-right: 2em;
}

.centerSpace{
    justify-content: center;
    background-color: #d2b48c  ;
}

.centerContent {
    width: 60%;
    align-items: center;
    background-color: #ffffff;
}

.main {
    padding: 2em;
}


.mainTopFirstCard, .mainTopSecondCard, .mainBottomFirstCard, .mainBottomSecondCard, .mainBottomThirdCard {
    border: none;
    text-align: center;
    font-weight: bold;
}

.mainBottomFirstCard h5, .mainBottomSecondCard h5, .mainBottomThirdCard h5{
    font-size: 1em;
}

main .card-img-top {
    width: 100%;
    height: 65%;
    object-fit: fill;
}

.mainSloganCard {
    border: none;
}

.mainSlogan h2 {
    font-weight: bold;
    font-size: 3em;
}

.mainSlogan h2 span {
    color: #b57a46 ;
    font-size: 1.2em;
}

.mainTextCard {
    border: none;
}

.mainText {
    font-size: 0.6em;
}

.mainTextCard a {
    color: #ffffff;
    background-color: #b57a46;
    font-weight: bold;
    font-size: 1.5em;
    border-radius: 0;
    padding: 0.1em 1em;
}



.footer {
    align-items: center;
    background-color: #b57a46;
    padding : 1em;
}

.footer a {
    color: #ffffff;
}

.footerSecondNav li{
    font-size: 0.6em;
}

/* TEST EN COURS */

div#test, div#test2 {
    padding-bottom: 0;
    background-color: #800000;
}

.mainBottomDeck div.card-body {

}