.body, .heading, .centerSpace, .centerContent, .header, .headerNav .main, .presentation, .footer, .headerImage, .-alignCenter {
    display: flex;
}

.body, .centerContent, .header, .main, .footer {
    flex-direction: column;
}

.heading, .presentation {
    flex-direction: row;    
}

.heading {
    background-color: #800000;
    color: white;
    justify-content: center;
}

.header {
    width: 100%;
    align-items: center;
}

.headerImage {
    height: 80%;
    width: 40%;
    padding: 1em;
}

.headerNav {
    background-color: #996633;
    width: 100%;
    padding-left: 18em;
    padding-right: 18em;
}

.centerSpace{
    justify-content: center;
    background-color: rosybrown;
}

.centerContent {
    width: 60%;
    align-items: center;
    background-color: white;
}

.main {
    padding: 2em;
}

.presentation {
    width: 100%;
}

.mainSlogan {
    width: 50%;
}

.mainText {
    width: 50%;
}

.footer {
    align-items: center;
    background-color: #996600;
}

.-alignCenter > a{
    justify-items: center;
}


